{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}

        <body>
           <h1>New Page:</h1>
            <form action= "{%url 'createPage'%}" method="post">
                {% csrf_token %}
                <input type = "text" name = "title" placeholder = "Enter title"><br><br>
                <textarea name="content" placeholder="Description" cols = "40"rows = "5">{{content | safe}} </textarea><br>
                <div>
                <input type="submit">
                </div>
            </form>
        </body>

{% endblock %}